/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;

*/
/*HEAD*/
:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --text-color: #000000;
  --grid-color: LightGrey;
  --font-size: 16px;
  --font-weight: 700;
  --font-family: "Dosis", sans-serif;
  --line-height: 1.6;
}

a {
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 90%;
  padding: 100px;
  margin-right: 100px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* BODY */
body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-variant: small-caps;
  line-height: var(--line-height);
}

.profile__portrait {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile, .about {
  max-width: 900px;
  min-height: 550px;
  margin: 0 auto;
  padding: 150px 150px;
  border: 1px solid black;
  text-align: center;
}

.profile__text {
  flex: 1 1 100px;
}

.grid__item {
  display: inline-block;
  width: 33%;
  background-color: var(--grid-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--grid-color);
  padding: 10px;
  /* Set width to auto*/
  width: auto;
}

section {
  padding: 0px 100px;
}

.table {
  margin: auto;
}

.work {
  text-align: center;
}

.codelink {
  text-align: right;
}
}

.sun {
  animation-name: example;
  animation-duration: 4s;
}

/* FOOTER */
.page-footer {
  clear: both;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media all and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .about {
    position: relative;
    left: 100px;
  }

  .profile {
    position: relative;
    left: 100px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 22px;
  }
}
